PORT=3001 # the port on your machine the app will listen for requests on
SECRET_KEY="" # secret key used to sign and verify the digital signature of JSON web token (jwt)
DB_HOST="" # e.g. localHost
DB_PASSWORD="" # password for your mySQL db schema